.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
/* body{
    background-color: rgb(30, 30, 30);
} */

p{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.text-1{
    color: #252432;
}

.text-2{
    color: #8987A1;
}

.text-3{
    color: rgba(0, 0, 0, 0.5);
}

.text-4{
    color: #111111;
}

.text-5{
    color: #000000;
}

.text-6{
    color: #E95A08;
}


/* header styles */
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;

}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
}

nav ul li img{
    margin-right: 5px;
}

.cart{
    max-width: 24px;
    width: 20%;
    max-height: 24px;
    height: 20%;
}

/* hero styles */
.hero{
    display: flex;
    align-items: flex-end;
    margin-top: 120px;
}

.hero img{
    padding-top: 106px;
    padding-bottom: 0;
}

.hero-info{
    padding-top: 162px;
    padding-bottom: 0;
}

.hero-info h2{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.hero-info p{
    text-align: left;
}

/* main styles */
/* plants styles */
.our-plants h3, p{
    text-align: center;
}


.plants-title{
    font-size: 3.125rem;
    margin-bottom: 16px;
}

.plant-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 50px;
}

.card{
    font-size: 1.375rem;
    font-weight: 500;
}


.btn{
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 90px;
    border: none;
    font-weight: 500;
}

/* plants lover styles */
.plants-lover{
    display: flex;
    align-items: center;
    margin-top: 210px;
    margin-bottom: 134px;
}

.plants-lover-description{
    padding: 38px;
    padding-left: 60px;
    margin-bottom: 20px;
}

.plants-lover-description ul li p{
    text-align: left;
}

.plants-lover-title{
    font-size: 3.125rem;
    font-weight: 700;
}

/* join styles */
.join{
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    width: auto;
    margin-top: 120px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 533px;
    text-align: center;
    padding-top: 199px;
}

.join-title{
    color: #FFFFFF;
    font-size: 3.125rem;
    font-weight: 700;
}

.newsletter-subscriber{
    display: flex;
    justify-content: center;
}

.join input{
    padding: 16px 540px 16px 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    border: none;
}


.btn-2{
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    padding: 19px 54px;
    font-weight: 600;
}

/* footer styles */
footer{
    display: flex;
    justify-content: space-around;
    padding: 50px 160px;
    /* gap: 110px; */
}

.footer-title{
    width: 359px;
    height: 179px;
    margin-bottom: 69px;
}

.footer-title p{
    text-align: left;
}


footer li{
    list-style: none;
    margin-bottom: 32px;
}

footer li a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
    
}

.connect{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 212px;
}

